* {
    text-align: center;
}

/*tab*/
body {
    font-family: Arial;
    height: 100%;
    padding-bottom: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 22px;
    transition: 0.3s;
    font-size: 17px;
    display: block;
    margin: auto;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8881ff;
    color: #ff0038;
    text-align: center;
    height: 30px;
}

div.grades {
    width: 300px;
    border: 1px solid gray;
    margin: 20px;
}